.optionDiv {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

div.section {
  margin: 10px 0px;
  padding: 10px;
  border: 2px solid #ddd;
}

.question {
  font-size: 30px;
  margin-bottom: 20px;
}

.panel {
  width: 50%;
  margin: 0 auto;
}

.section.correct {
  border: 2px solid #2f8d46;
}

.section.wrong {
  border: 2px solid red;
}

.options {
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  position: fixed;
  top: 40%;
  left: 40%;
}

.ansDiv p {
  margin: 0px;
}
.ansDiv {
  text-align: right;
}

.submit-div,
h1 {
  text-align: center;
}
#btn {
display: none; 
border: 1px solid;
padding: 10px;
background: black;
color: white;
font-size: 16px;
cursor: pointer;
}